/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */

@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */

/* Start body rules */
body {
    background-image: linear-gradient(to top,#90B8B8 0%, #CED2D5 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
}

/* End body rules */

/* Start form  attributes */
.login_form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #90B8B8 50%, #CED2D5 50%);
}
/* form Container */
form .con {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

.field-set
{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding:10px;
}

/* the header form form */
 header {
    padding:10px;
    margin:10px;
    text-align: center;
}
/* Login title form form */
 header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p {letter-spacing: 0.05em;}




.input-item {
    background: #fff;
    color: #333;
    padding:10px;
    margin:10px;

}



/* inputs form  */
form input[class="form-input"]{
    width: 240px;
    height: 30px;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
form input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

form input[type="file" i] 
{
   visibility: hidden;
}

.picture-input
{
    position: absolute;
    z-index: 1;

}

/* buttons  */
form button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

/*     Sign Up button  */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8F2E6;

    color: #252537;
    text-decoration: none;
    font-size: 14px;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    border-radius: 5px;

  
    cursor: pointer;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    margin-top: 10px;
    letter-spacing: 0.05em;
}




/* buttons hover */
.overlay button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

.overlay .sign-up:hover {
    transform: translatey(3px);
    box-shadow: none;
}



/* buttons hover Animation */
.overlay button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.overlay .sign-up:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
.myfileupload-buttonbar input
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0.0;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
}
.myui-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    transition: 0.2s linear;
    background-color: white;
    cursor: pointer;
}

.myfileupload-buttonbar 
{
   flex:1;
  
 
}

.text
{
    padding:0px 10px;
    margin:0px 10px;
}

#fileupload
{
    display:flex;
    align-items: center;
  width: 340px;
  height: 50px;
  padding:10px 0px;
  margin:10px;
}

