.sideBar
{
    display:flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar_top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #8C8C8C;
}

.sidebar_top_right
{
    display: flex;
    flex-direction: row;
}


.add_new_Button
{
    width: 100%;
    background-color: lightgray;
}

.searchBar
{
    display: flex;
    align-items: center;
    background-color: #B0B0B0;
    height: 39px;
    padding: 10px;
    margin:5px;
}

.activeSearch
{
    display: flex;
    align-items: center;
    background-color: lightgray;

}

.searchBar .searchContainer
{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.searchBar .searchContainer > .MuiSvgIcon-root
{
    color: gray;
    margin: 10px;
}

.searchBlock
{
    background-color: lightgray;
    height: 39px;
    padding: 10px;
    margin:5px;
    border:none;
    width: 250px;
    outline: none;
}

.searchBar .searchContainer > input
{
   border: none;
   margin-left: 10px;
   outline: none;
}

.sideBar .sidebar_bottom
{
    flex: 1;
}



